<div class="main">
	<div class="center-wrapper-parent">
		<div class="canvas-wrapper">
			<canvas id="board" class="center-v"></canvas>
		</div>
		</div>
	{{!-- <script data-main="js/main" src="js/require.js"></script> --}}
</div>